.row {
    margin-left: 20px;
    color: #fff;
}

.posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster {
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}

.smallPoster {
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;

}

.poster:hover {
    transform: scale(1.09);
}
.smallPoster:hover {
    transform: scale(1.09);
}